.overlay {
  position: fixed;
  inset: 0;
  background: var(--color-bg-overlay);
  @include mixins.flex(row, center, center);
  z-index: 999;
}

.modal {
  background: var(--color-bg-paper);
  padding: 1.5rem;
  width: 380px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--color-font-primary);
  animation: fadeIn 0.18s ease-out;
  box-shadow: var(--shadow-md);

  &__line {
    color: var(--color-border-muted);
    background-color: blue;
  }
}

.line {
  border: 1px solid var(--color-border-default);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header {
  color: var(--color-text-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
    font-weight: bold;
  }
}

.close-btn {
  color: var(--color-text-tertiary);
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--color-text-primary);
  }
}

.message {
  min-height: 50px;
  color: var(--color-text-primary);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn {
  padding: 8px;
  border: 1px solid var(--color-border-default);
}

.cancel {
  @include mixins.button-base(
    // var(--color-bg-overlay),
    // var(--color-text-primary)
  );
}

.submit {
  @include mixins.button-base(var(--color-error), var(--color-text-inverse));
}
