.footer {
  @include mixins.flex(row, center, center);
  width: 100%;
  padding: 16px 0;
  background: var(--color-bg-paper);
  color: var(--color-text-secondary);
  text-align: center;
  border-top: 1px solid var(--color-border-default);

  &__content {
    @include mixins.flex(row, center, center, 8px);
    transition: all 0.3s ease-in-out;
  }

  &__icon {
    font-size: 20px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: rotate(-10deg) scale(1.15);
    }
  }
}
