.login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(45deg, white, var(--color-secondary));
  box-sizing: border-box;
  min-height: 100vh;

  // Background pattern
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url("../../../assets/background/pattern-bg.png") repeat;
    opacity: 0.8;
    background-position: top left;
    background-size: auto;
    content: "";
    pointer-events: none;
  }

  .container {
    z-index: 1;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
}
