.login {
  @include mixins.flex(column, center, center);
  padding: 20px;
  background: linear-gradient(45deg, white, var(--color-accent-primary));

  // Background pattern
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("@/assets/background/pattern-bg.png") repeat;
    opacity: 0.8;
    background-position: top left;
    background-size: auto;
    content: "";
  }

  &-form {
    z-index: 1;
    display: flex;
    border-radius: 12px;
    box-shadow: var(--color-shadow-sm);
    overflow: hidden;
  }
}

@media (max-width: 1000px) {
  .left-slide {
    display: none;
  }
}
