.table {
  width: 100%;
  border: 1px solid var(--color-primary);

  border-radius: 5px;
  background-color: var(--color-bg);
  border-spacing: 0;
  overflow: hidden;

  th,
  td {
    padding: 10px 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    height: 40px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 600;
    cursor: default;
  }

  td {
    color: black;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  tr:hover {
    background-color: #f0f0f0;
  }
  &__header {

    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 0 20px 0;
    color: black;

    &-sort {
      display: flex;
      gap: 20px;
    }
  }

  &__footer {

    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    color: black;

    &-select {
      padding: 5px 10px;
      border-radius: 5px;
      background: transparent;
      color: black;
    }
  }
}

.table__row-clickable {
  cursor: pointer;
}

.table__empty {
  padding: 1rem;
  color: #888;
  text-align: center;
}
