.pagination {
  display: flex;
  gap: 4px;

  .pagination__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    background-color: var(--color-bg);
    color: var(--color-primary);
    cursor: pointer;

    &.active {
      background-color: var(--color-secondary);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .pagination__dots {
    color: var(--color-primary);
    padding: 6px 8px;
    user-select: none;
  }
}
