// .home {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
//   padding: 20px;
//   border-radius: 10px;
//   background-color: color(main-bg);

//   .start-call {
//     padding: 0.6rem 1.2rem;
//     border: none;
//     border-radius: 50px;
//     background-color: #007bff;
//     color: white;
//     font-size: 1rem;
//     transition: background-color 0.2s;
//     cursor: pointer;
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

//     &:hover {
//       background-color: #0056b3;
//     }
//   }

//   iframe {
//     width: 100%;
//     height: 500px;
//     border: 1px solid #ccc;
//     border-radius: 8px;
//     background-color: #000;
//     max-width: 900px;
//   }

//   .loading {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 500px;
//     border-radius: 8px;
//     background-color: #000;
//     color: #fff;
//     font-size: 1.2rem;
//     max-width: 900px;
//   }
// }
