.slide {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 50px 0;
  background: var(--color-accent);

  &__container {
    display: flex;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    /* áº¨n scrollbar */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    user-select: none;
  }

  &__image-wrapper {
    width: 80%;
    border-radius: 8px;
    aspect-ratio: 1/1;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    margin-top: 15px;

    &-sub {
      color: var(--color-primary);
      font-size: 14px;
      font-weight: normal;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 10px;
    list-style: none;
    margin-top: 20px;

    &-btn {
      width: 10px;
      height: 10px;
      border: none;
      border-radius: 5px;
      background-color: var(--color-primary);
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      &--active {
        width: 20px;
      }
    }
  }
}
