.login {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(45deg, #d2d2d2, #b6e4c5);
  box-sizing: border-box;
  min-height: 100vh;

  .container {
    display: flex;
    height: 520px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .right {
      width: 400px;
      background: #fff;

      &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;

        &__logo {
          width: 200px;
          margin-bottom: 40px;
        }

        &__title {
          color: #538f62;
          font-size: 2rem;
          font-weight: normal;
          margin-bottom: 20px;
        }

        &__input {
          width: 100%;
          padding: 10px;
          border: none;
          border-bottom: 1px solid #ccc;
          margin-bottom: 30px;

          &:focus {
            border-bottom-color: #95b19c;
            outline: none;
          }
        }

        &__forgot {
          width: 100%;
          color: #7a7a7a;
          font-size: 1.2rem;
          text-align: right;
          cursor: pointer;
          margin-top: -20px;

          &:hover {
            color: #538f62;
            text-decoration: underline;
          }
        }

        &__button {
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 9999px;
          background-color: #253239;
          color: white;
          cursor: pointer;
          margin-top: 40px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .login .container {
    width: 90%;
    height: auto;
  }
}
