.login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background: linear-gradient(45deg, white, var(--color-secondary));
  box-sizing: border-box;
  min-height: 100vh;

  /* Background pattern */
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url("../../../assets/background/pattern-bg.png") repeat;
    opacity: 0.8;
    background-position: top left;
    background-size: auto;
    content: "";
    pointer-events: none;
  }

  .form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 450px;
    padding: 80px 50px;

    border-radius: 10px;
    background: var(--color-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 50px;
      margin-bottom: 40px;

      &-icon {
        height: 100%;
      }
      &-text {
        height: 100%;
      }
    }

    &__title {
      color: var(--color-text);
      font-size: 20px;
      font-weight: normal;
      white-space: nowrap;
      margin-bottom: 20px;
    }

    &__input {
      width: 100%;
      padding: 10px;
      border: none;
      background-color: var(--color-bg);
      color: var(--color-text);
      border-bottom: 1px solid #ccc;
      margin-bottom: 30px;

      &:focus {
        border-bottom-color: #95b19c;
        outline: none;
      }
    }

    &__btn {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 99px;
      background-color: var(--color-primary);
      color: var(--color-bg);
      cursor: pointer;
      margin-top: 40px;
    }
  }
}

@media (max-width: 500px) {
  .login .container {
    width: 90%;
    height: auto;
  }
}
