.classes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-bg);

  &__table {
    width: 100%;
  }
}
