.search-bar {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  overflow: hidden;

  &__input {
    flex: 1;
    height: 100%;
    padding: 0 10px;
    border: none;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 14px;
    cursor: text;
    outline: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--color-primary);
    color: var(--color-bg);
    font-size: 2rem;
    cursor: pointer;
    aspect-ratio: 1;
    user-select: none;

    &:hover {
      font-size: 2.2rem;
    }

    &:active {
      font-size: 2rem;
    }
  }
}
.search-bar__input::placeholder {
  color: #999;
}
